
Solution/Lab1/Debug/vc143.pdb
Solution/Lab1/Debug/vc143.idb
Solution/Lab1/Debug/Texture.obj
Solution/Lab1/Debug/stb_image.obj
Solution/Lab1/Debug/SkyBox.obj
Solution/Lab1/Debug/Shader.obj
Solution/Lab1/Debug/obj_loader.obj
Solution/Lab1/Debug/Mesh.obj
Solution/Lab1/Debug/MainGame.obj
Solution/Lab1/Debug/main.obj
Solution/Lab1/Debug/Lab1.tlog/link.write.1.tlog
Solution/Lab1/Debug/Lab1.tlog/link.read.1.tlog
Solution/Lab1/Debug/Lab1.tlog/link.command.1.tlog
Solution/Lab1/Debug/Lab1.tlog/Lab1.lastbuildstate
Solution/Lab1/Debug/Lab1.tlog/CL.write.1.tlog
Solution/Lab1/Debug/Lab1.tlog/CL.read.1.tlog
Solution/Lab1/Debug/Lab1.tlog/CL.command.1.tlog
Solution/Lab1/Debug/Lab1.log
Solution/Lab1/Debug/Lab1.ilk
Solution/Lab1/Debug/Lab1.exe.recipe
Solution/Lab1/Debug/Display.obj
Solution/Lab1/Debug/Audio.obj
Solution/Debug/Lab1.pdb
Solution/Debug/Lab1.exe
Solution/.vs/Lab1/v17/ipch/AutoPCH/1fc64599ec0ccf1d/MAINGAME.ipch
Solution/.vs/Lab1/v17/Browse.VC.opendb
Solution/.vs/Lab1/v17/Browse.VC.db-wal
Solution/.vs/Lab1/v17/Browse.VC.db-shm
Solution/.vs/Lab1/v17/Browse.VC.db
Solution/.vs/Lab1/v17/.suo
Solution/.vs/Lab1/FileContentIndex/cc2ae905-b7c3-4236-b8c8-321d3a009f37.vsidx
Solution/.vs/Lab1/FileContentIndex/c3865ec9-c824-447b-93de-01e0dc6e5239.vsidx
Solution/.vs/Lab1/FileContentIndex/b659460a-bb65-4e60-8175-c825b053a2b7.vsidx
Solution/.vs/Lab1/v17/.suo
Solution/.vs/Lab1/v17/Browse.VC.db
Solution/Debug/Lab1.exe
Solution/Debug/Lab1.pdb
Solution/Lab1/Debug/Audio.obj
Solution/Lab1/Debug/Display.obj
Solution/Lab1/Debug/Lab1.exe.recipe
Solution/Lab1/Debug/Lab1.ilk
Solution/Lab1/Debug/Lab1.log
Solution/Lab1/Debug/Lab1.tlog/CL.command.1.tlog
Solution/Lab1/Debug/Lab1.tlog/CL.read.1.tlog
Solution/Lab1/Debug/Lab1.tlog/CL.write.1.tlog
Solution/Lab1/Debug/Lab1.tlog/Lab1.lastbuildstate
Solution/Lab1/Debug/Lab1.tlog/link.command.1.tlog
Solution/Lab1/Debug/Lab1.tlog/link.read.1.tlog
Solution/Lab1/Debug/Lab1.tlog/link.write.1.tlog
Solution/Lab1/Debug/main.obj
Solution/Lab1/Debug/MainGame.obj
Solution/Lab1/Debug/Mesh.obj
Solution/Lab1/Debug/obj_loader.obj
Solution/Lab1/Debug/Shader.obj
Solution/Lab1/Debug/SkyBox.obj
Solution/Lab1/Debug/stb_image.obj
Solution/Lab1/Debug/Texture.obj
Solution/Lab1/Debug/vc143.idb
Solution/Lab1/Debug/vc143.pdb
